{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div style="display: flex;">
    <div id="leftsearch" style="width: 20%; margin-right: 10px;">
      <h3>Here is a map!</h3>
      {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
      {% endif %}
    </div>
    <div id="rightmap" style="width: 80%; height: 500px;">
    <h1>Spatial Map</h1>
    <div id="map" style="height: 100%;"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var theme = 'https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png';
  
  var latList = {{ lat_list }};
  var lonList = {{ lon_list }};

  var lat = latList[0];
  var lon = lonList[0];  
  
  var macarte = null;
  var i = 0;
  var markerClusters;
  var popup = L.popup();

  macarte = L.map('map').setView([lat, lon], 5);
  markerClusters = L.markerClusterGroup;
  L.tileLayer(theme, {
      minZoom: 1,
      maxZoom: 20
  }).addTo(macarte);
  var marker;
  for(let i = 0 ; i < latList.length ; i++){
    marker = L.marker([latList[i], lonList[i]]).addTo(macarte);
  }
  macarte.on('click', onMapClick);


  function onMapClick(e) {
    popup
      .setLatLng(e.latlng)
      .setContent("You clicked the map at " + e.latlng.toString())
      .openOn(macarte);
  }
</script>
   
{% endblock %}
